<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests" thread-count="5">
<parameter name = "username" value = "konvict">
<parameter name = "password" value = "senthil">
</parameter>
</parameter>
  <test name="Test">
  <groups>
  <run>
  <exclude name = "@smoke">
  </exclude>
  </run>
  </groups>
    <classes>
      <class name="org.testNg1.suite1"/>
      <class name="org.testNg1.suite2"/>
      <class name="org.testNg1.suite3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
